.margin_top_45px{
    margin-top: 45px;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
}
.color_red_underline {
    color:red;
    text-decoration: underline;
}
.saw {
    color:gray
}